
<%- include("header") %> 
<h2>This is About page</h2>

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias itaque reprehenderit doloremque dolore soluta! Facilis aspernatur, atque saepe quo cupiditate vitae ipsum culpa dolor provident sequi exercitationem, beatae adipisci laborum reprehenderit, alias amet fugiat. Blanditiis accusamus animi veniam ex consectetur.</p>

<%- include("footer") %> 